# Ігнорувати всі .log файли
*.log

# Ігнорувати тимчасові директорії
tmp/
temp/

# Ігнорувати директорію node_modules
node_modules/

# Ігнорувати файли конфігурації редакторів
.idea/
.vscode/
*.sublime-workspace

# Ігнорувати файли збірки
dist/
build/
