@media (max-width: 768px) {


header {
	position: static;
	padding: 10px;
	.header-logo {
		width: 200px;
	} 
	.header-toggle {
		display: block;
		position: absolute;
		width: 50px;
		height: 50px;
		top: 10px;
		right: 10px;
		cursor: pointer;
		img {
			width: 100%;
		}
	}
	.header-navigation {
		position: absolute;
		background: $dark_blue;
		opacity: 0.8;
		width: 100%;
		top: 65px;
		margin-left: -10px;
		z-index: 15;
		ul {
			li {
				display: block;
			}
		}
	}
}

section {
	height: auto;
}

section#header-section {

	background-image:url("../img/background-mobile.png");


	.h-s__main-block {

		padding: 30px 15px;

		h1 {
			font-size: 24px;
		}
		> p {
    		margin-top: 40vh;
    	}

	}

	.h-s__footer {
		position: static;
		bottom: auto;
		left: auto;
	}
	.form-email {
		input {
			padding: 15px 30px;
			width: 100%;
		}
		button {
			margin-top: 15px;
			margin-left: 0;
			padding: 16px 30px;
			width: 100%;
		}
	}

	.h-s__footer {
		position: relative;
		width: 100%;

		.h-s__links { 
			position: absolute;
			bottom: 15px;
			left: 45px;
		}

		.h-s__label {
			margin-top: 60px;
			margin-bottom: 120px;
		}
	}

}
section#routine-section {
	/*display: none;*/
	.r-s__content {
		.ct-flex-2 {
			width: 100%;
		}
	}
}

section#sira-section, section#works-section {
	.sira-s__content {
		.ct-flex-2 {
			width: 100%;
		}
	}
	/*display: none;*/
}

section#about-section,section#expertise-section {

	.a-s__item {
		width: 100%;
	}

}




section#services-section {
	.services-s__content {
		.ct-flex-2 {
			width: 100%;
		}
		.services-s__item {
			margin: 15px;
			padding: 15px;
		}
	}
}

section#team-section {

	.t-s__content {
		.t-s__founders {
			margin-bottom: 30px;
		}
		margin: 0;
		.ct-flex-3 {
			width: 100%;
			.t-s__item {
				margin: 15px;
				padding: 15px;
			}
		}
	}

}

section#partner-section {

	.p-s__content {

		margin: 0;

		.ct-flex-3 {
			width: 100%;
			.p-s__item {
				margin: 15px;
				padding: 15px;
			}
		}
	}
	.p-s__logos {
		.p-s__logo {
			margin: 15px;
		}
	}
}

section#get-section {
	background: #fff;
	color: black;
	margin: 0;
	input, textarea, select {
		color: black;
	}
	.g-s__content {
		.ct-flex-2 {
			width: 100%;
		}
		.g-s__form {
			button {
				width: calc(100% - 30px);
				margin: 0 15px;
				margin-top: 15px;
			}
		}
		.g-s__info {
			padding: 0 15px;
		}
		.g-s__info-links {
			margin-bottom: 30px;
		}
	}
	.g-s__shape-1 {
		width: 30px;
		height: 30px;
	    right: 15px;
	    top: 15px;
	}
	.g-s__shape-2 {
		width: 200px;
		height: 52px;
	    right: 0;
	}
	.g-s__shape-3 {
		width: 75px;
		height: 93px;
	    right: 0;
	    bottom: 150px;
	}
}

section#contact-section {
	margin: 0;
	.c-s__content {
		.ct-flex-3 {
			width: 100%;
		}
	}
	.c-s__form {
		button {
			width: 100%;
		}
	}
	.c-s__copyright {
		margin-top: 30px;
		margin-bottom: 30px;
		margin-left: 100px;
		color: $gray;
	}
	.c-s__shape-1 {
		width: 79px;
		height: 70px;
	    left: 0;
	    bottom: -30px;
	}
}











}