/*

$yellow: #FFC931;
$middle_blue: #1D2C43;
$light_blue: #115791;
$dark_gray: #191818;
$orange: #C9792F;
$gray: #C7C7C7;
$dark_blue: #191919;
$black: black;
*/

$yellow: #FFC931;
$middle_blue: #0E1826;
$light_blue: #1D2C43;
$dark_gray: #191818;
$orange: #C9792F;
$gray: #C7C7C7;
$dark_blue: #000B14;
$black: black;

/* Reset
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
* 
{
 margin: 0;
 padding: 0;
 outline: 0;
 border: 0;
 background: transparent;
 vertical-align: baseline;
 font-family: inherit;
 font-size: inherit;
 box-sizing: border-box;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
{
 display: block;
}
ul, ol
{
 list-style: none;
}
table
{
 border-collapse: collapse;
 border-spacing: 0;
}
th, td
{
 vertical-align: middle;
 text-align: center;
}
blockquote, q
{
 quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after
{
 content: "";
 content: none;
}
textarea
{
 resize: none;
}
input[type="submit"], input[type="button"]
{
 cursor: pointer;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
::-webkit-input-placeholder
{
 color: inherit;
 opacity: 1;
}
::-moz-placeholder
{
 color: inherit;
 opacity: 1;
}
:-moz-placeholder
{
 color: inherit;
 opacity: 1;
}
:-ms-input-placeholder
{
 color: inherit;
 opacity: 1;
}
:focus::-webkit-input-placeholder
{
 color: transparent !important;
}
:focus::-moz-placeholder
{
 color: transparent !important;
}
:focus:-moz-placeholder
{
 color: transparent !important;
}
:focus:-ms-input-placeholder
{
 color: transparent !important;
}



@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/*
@font-face {
	font-family: 'Montserrat', sans-serif;
	font-family: 'Lexend Giga', sans-serif;
    font-family: Roboto;
    font-weight: Regular;
    src: url("../assets/fonts/Roboto-Regular.ttf") format("opentype");
}

@font-face {
    font-family: Roboto;
    font-weight: Bold;
    src: url("../assets/fonts/Roboto-Bold.ttf") format("opentype");
}

body,html {
    font-family: Arial !important; 
    background: $middle_blue;
    color: #fff;
}
*/

@mixin gradient {
	background: linear-gradient(90deg, #F3D366, #D48A31, #AE522B, #1A2537);
}

body,html {
    font-family: 'Montserrat', sans-serif;
    background: $middle_blue;
    color: #fff;
}




.ct__yellow {
	color: $yellow;
}

.ct-flex {
	display: flex;
	flex-wrap: wrap;
	> * {
		flex:none;
	}
}

.ct-flex-4 {
	width: 25%;
	
}
.ct-flex-3 {
	width: 33.333333333%;
}
.ct-flex-2 {
	width: 50%;
}
.ct-flex-1 {
	width: 100%;
}
.ct-overlay {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

.hidden {
	display: none;
}


.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
    z-index: 1200
}

.popup__body {
    -webkit-box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 25px;
    border-radius: 5px;
    background-color: #fff;
    -webkit-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all;
    margin: 50px auto;
    max-width: 600px;
    -webkit-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
    opacity: 0;
    -webkit-transform: perspective(600px) translate(0, -100%) rotateX(45deg);
    transform: perspective(600px) translate(0, -100%) rotateX(45deg)
}

.body-popup {
    text-align: left;
    font-weight: 700
}

.body-popup__header {
    position: relative
}

.body-popup__title {
    font-size: 1.125em;
    margin-bottom: 20px;
    color: #292D32
}

.body-popup__close {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer
}

.body-popup__link {
    color: #783BF9;
    text-decoration: underline
}

.popup.active {
    opacity: 1;
    visibility: visible
}

.popup.active .popup__body {
    opacity: 1;
    -webkit-transform: perspective(600px) translate(0, 0%) rotateX(0deg);
    transform: perspective(600px) translate(0, 0%) rotateX(0deg)
}

.popup__content {
    max-width: 547px;
    position: relative;
    font-weight: 700
}


.scroll-top__button {
	position: fixed;
	z-index: 100;
	right: 25px;
	bottom: 25px;
	width: 60px;
	height: 60px;
	background: #fff;
	border-radius: 100%;
	cursor: pointer;
	&:after {

		position: absolute;
		content: '›';
		transform:rotate(270deg);
		left: 20px;
		bottom: 0;
		font-size: 50px;
		font-weight: bold;
		color: $black;
	}
}


header {
	background: $dark_blue;
	width: 100%;
	position: fixed;
	z-index: 10;
	padding: 10px 90px;
	padding-top: 30px;
	.header-logo {
		width: 250px;
		img {
			width: 100%;
		}
	} 
	.header-navigation {
		width: calc(100% - 250px);
		text-align: right;
		ul {
			li {
				display: inline-block;
				margin: 10px 20px;
				a {
					text-transform: uppercase;
					color: #fff;
					text-decoration: none;
					font-size: 14px;
					&.active {
						color: $orange;
						text-decoration: underline;
					}
				}
			}
		}
	}
	.header-toggle {
		display: none;
	}
}



section {
	height: 100vh;
	position: relative;

	form.form-email {
		margin-top: 30px;
		input {
			border: $orange 1px solid;
			padding: 30px;
			padding-left: 15px;
			&::placeholder {
				color: #9F9F9F;
			}
		}
		button {
			margin-left: -5px;
		}
		
	}

	.gradient-button {

		color: #fff;
		text-transform: uppercase;
		/*background: linear-gradient(90deg, $yellow, $orange, $middle_blue);*/
		background: linear-gradient(90deg, #F3D366, #D48A31, #AE522B, #1A2537);
		padding: 31px 30px;
		font-weight: bold;
		
		
	}

	.section-title {
		text-align: center;
		max-width: 600px;
		width: 100%;
		margin: 0 auto;
		position: relative;
		padding: 45px;
		.section-title__content {
			>p:first-child {
				color: $yellow;
				text-transform: uppercase;
				font-weight: bold;
			}
			h3 {
				color: #fff;
				font-family: 'Lexend Giga', sans-serif;
				text-transform: uppercase;
				font-size: 32px;
				margin-top: 30px;
				margin-bottom: 45px;
				letter-spacing: 3px;
				font-weight: 100;
			}
			>p:last-child {
				color: $gray;
				line-height: 25px;
			}
		}
		img {
			position: absolute;
		}
		>img:first-child {
			left: 0;
			bottom: 15px;
		}
		>img:last-child {
			right: 0;
			top: 15px;
		}
	}
	.section-title__h2 {
		font-family: 'Lexend Giga', sans-serif;
		text-transform: uppercase;
		font-size: 32px;
		line-height: 50px;
		letter-spacing: 10px;
		font-weight: 400;
		padding-top: 8vh;
		text-align: center;
	}

	.form-input {
		border: 1px $gray solid;
		width: 100%;
		padding: 20px 10px;
		&::placeholder {
			color: $gray;
		}
	}
	.form-label {
		margin-bottom: 15px;
		display: block;
	}

	input, select, textarea{
	    color: #fff;
	}

}

section#header-section {

	background-image:url("../img/background__lines.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; 

    .h-s__main-block {
    	
    	padding-top: 30vh;
    	padding-left: 45px;
    	h1 {
    		font-family: 'Lexend Giga', sans-serif;
    		text-transform: uppercase;
    		font-size: 32px;
    		line-height: 50px;
    		letter-spacing: 3px;
    		font-weight: 100;
    		img {
    			margin-left: -45px;
    			padding-right: 10px;
    			width: 150px;
    			padding-bottom: 10px;
    		}
    	}
    	> p {
    		margin-top: 40px;
    	}
    	
    }

    .h-s__footer {
    	position: absolute;
    	bottom: 30px;
    	left: 45px;
    	width: calc(100% - 45px);
    	.h-s__links {
    		margin-top: 45px;
    		a {
	    		display: inline-block;
	    		width: 50px;
	    		height: 50px;
	    		background: $middle_blue;
	    		border-radius: 100%;
	    		position: relative;
	    		opacity: 0.7;
	    		img {
	    			width: 30px;
	    			height: 30px;
	    			position: absolute;
	    			left: 10px;
	    			top: 10px;
	    		}
	    	}
    	}
    	.h-s__label {

    		margin-left: auto;
    		border-top: 2px $orange solid;
    		padding: 25px 45px;
    		text-transform: uppercase;
    		line-height: 25px;  	
    		text-align: center;
    		font-weight: bold;
    		position: relative;
    		&:before {
			    content: "";
			    height:100px;
			    width: 2px;
				position:absolute;
				margin:-62px;
				top: 58px;
				transform:rotate(20deg);
				width: 2px;
				background-color: $orange;
				z-index: 10;
			}
			&:after {
				content: "";
				position:absolute;
				height:2px;
			    width: 380px;
			    background-color: $orange;
			    top: 91px;
			    left: -32px;
			}
    	}
    }
}


section#routine-section {
	height: auto;
	padding-bottom: 30px;
	.section-title {
		max-width: 850px;
	}
	.r-s__content {
		margin: 0 auto;
		max-width: 1100px;
		.r-s__items-right {

			padding-top: 60px;
			.r-s__item {
				h3 {
					text-align: right;
				}
				img {
					margin-left: auto;
				}
				.r-s__item-description {
					left: auto;
					right: 150px;
				}
			}
			
		}
		.r-s__item {
			position: relative;
			margin: 60px;
			h3 {
				text-transform: uppercase;
				margin-bottom: 30px;
				font-size: 24px;
			}
			img {
				width: 300px;
				display: block;
			}
			.r-s__item-description {
				font-size: 14px;
				position: absolute;
				padding: 30px 15px;
				bottom: 60px;
				width: 250px;
				left: 150px;
				background: $light_blue;
			}
		}	
	}
	
}


section#about-section, section#expertise-section {
	height: auto;
	.a-s__top {

	}
	.a-s__item {
		color: #fff;
		padding: 30px;
		> div {
			display: inline-block;
		}
		.a-s__item-cirle {
			width: 45px;
			height: 45px;
			border: 2px solid #fff;
			border-radius: 100%;
			margin-right: 10px;
			vertical-align: top;
			margin-top: 15px;
		}
		.a-s__item-content {
			width: calc(100% - 65px);
			p {
				margin: 20px 0;
				line-height: 25px;
			}
			a {
				color: #fff;
			}
		}
		&.a-s__item-dark {
			background: $dark_gray;
		}
		&.a-s__item-light {
			background: $light_blue;
		}
		&.a-s__item-orange {
			background: $orange;
		}
		&.a-s__item-yellow {
			background: $yellow;
			color: $black;
			a {
				color: $black;
			}
			.a-s__item-cirle {
				border-color: $black;
			}
		}
	}
}

section#expertise-section {
	.section-title {
		h3 {
			color: red;
		}
	}
}

section#sira-section,section#works-section {
	background: $dark_blue;
	padding-bottom: 30px;
	.sira-s__title {
		padding: 8vh 0;
		background: $middle_blue;
	}
	.sira-s__content {
		padding-left: 45px;
		h2 {
			text-transform: uppercase;
			font-size: 32px;
    		line-height: 50px;
    		letter-spacing: 10px;
    		font-weight: 100;
    		margin-top: 12vh;
		}
		h3 {
			margin-top: 30px;
			font-size: 24px;
			text-transform: uppercase;
		}
		p {
			margin-top: 20px;
		}
		.sira-s__image {
			max-width: 350px;
			img {
				width: 100%;
				transform:rotate(20deg);
				margin-top: 30px;
				display: block;
				margin: 0 auto;
			}
		}
		
	}
}

section#works-section {
	padding-bottom: 0;
	.sira-s__title {
		background: $dark_blue;
		padding: 0;
	}
	.sira-s__content {
		margin-top: 6vh;
		.sira-s__image {
			img {
				transform: rotate(0);
				max-width: 200px;
			}
			
		}
		.w-s__buttons {
			button {
				color: #fff;
				padding: 20px 40px;
				border: 1px solid $yellow;
				cursor: pointer;
			}
		}
		ul {
			margin-top: 30px;
			li {
				margin: 10px 0;
				position: relative;
				padding-left: 20px;
				&:before {
					color: $yellow;
					content: '✓';
					position: absolute;
					left: 2px;
					bottom: 0;
				}
			}
		}
		h3 {
			margin-bottom: 30px;
		}
	}
	.w-s__image {
		width: 100%;
		img {
			width: 100%;
		}
	}

}

section#services-section {


	.services-s__content {

		max-width: 1200px;
		margin: 0 auto;
		justify-content: center;

		.services-s__item {
			background: $light_blue;
			margin: 30px;
			padding: 30px;
			position: relative;
			z-index: 2;
			h3 {
				text-transform: uppercase;
				font-size: 22px;
				letter-spacing: 3px;
				margin-bottom: 15px;
				position: relative;
				padding-left: 60px;
				line-height: 40px;
				&:before {
					content: "";
					width: 45px;
					height: 45px;
					border-radius: 100%;
					position: absolute;
					left: 0;
				}
				&.b-blue:before {
					background: #0096FF;
				}
				&.b-yellow:before {
					background: #FFC000;
				}
				&.b-green:before {
					background: #98BA32;
				}
				&.b-pink:before {
					background: #F8927F;
				}
				&.b-orange:before {
					background: #C55A11;
				}
			}
			p {
				color: $gray;
			}
		}
	}

	.services-s__overlay {
		background-image:url("../img/hexagone.png");
    	background-repeat: no-repeat;
	    background-size: 130%;
	    background-position: 50% 90%; 
	    opacity: 0.2;

	}

}


section#team-section {

	.t-s__content {

		margin: 0 30px;

		.t-s__founders {
			h3 {
				color: $yellow;
				font-size: 28px;
				text-transform: uppercase;
				letter-spacing: 3px;
				margin-top: 90px;
				margin-left: 30px;
				font-weight: 100;
			}
			img {
				margin-top: 30px;
				margin-left: -30px;
			}
		}

		.t-s__item {
			background: #125790;
			margin: 30px;
			padding: 30px;


			.t-s__item-avatar {
				width: 100px;
				height: 100px;
				position: relative;
				img {
					width:  90%;
					border-radius: 100%;
					padding-left: 10px;
					padding-top: 10px;
				}

				&:after {
					content: "";
					width: 30px;
					height: 30px;
					position: absolute;
					right: 0;
					top: 0;
					border-radius: 100%;
				}
				&.b-yellow:after {
					background: #DFB812;
				} 
				&.b-red:after {
					background: #FF3916;
				} 
				&.b-purple:after {
					background: #C232FF;
				} 
				&.b-green:after {
					background: #13EB46;
				} 
				&.b-blue:after {
					background: #02233E;
				} 

			}
			.t-s__item-avatar_overlay {
				background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='white' stroke-width='5' stroke-dasharray='30%25%2c 10%25' stroke-dashoffset='85' stroke-linecap='butt'/%3e%3c/svg%3e");
				border-radius: 100px;
				height: 100px;
				width: 100px;
				top: 0;
				position: absolute;
			}
			.t-s__item-info {
				padding-left: 15px;
				p {
					margin-bottom: 10px;
					&:last-child {
							
						color: $gray;	
						font-size: 14px;
						img {
							opacity: 0.6;
							width: 14px;
							vertical-align: bottom;
						}
					}
				}
			}

			.t-s__item-description {
				margin-top: 30px;
				color: $gray;
				width: 100%;
				line-height: 20px;
			}
			.t-s__item-links {
				margin-top: 30px;
				a {
					text-decoration: none;
				}
				img {
					width: 20px;
					margin-right: 10px;
					opacity: 0.6;
				}
			}
		}

	}

}


section#partner-section {

	.p-s__content {

		margin: 0 30px;

		.p-s__item {
			background: $light_blue;
			margin: 30px;
			padding: 30px;


			.p-s__item-avatar {
				width: 100px;
				height: 100px;
				position: relative;
				img {
					width:  90%;
					border-radius: 100%;
					padding-left: 10px;
					padding-top: 10px;
				}
				&:before {
					content: "";
					width: 10px;
					height: 10px;
					position: absolute;
					right: 10px;
					top: 10px;
					border-radius: 100%;
					background: #fff;
				}
				&:after {
					content: "";
					width: 98px;
					height: 98px;
					position: absolute;
					right: 0;
					top: 0;
					border: 1px solid #fff;
					border-radius: 100%;
				}

			}

			.p-s__item-info {
				padding-left: 15px;
				p {
					margin-bottom: 10px;
					&:last-child {
							
						color: $gray;	
						font-size: 14px;
						img {
							opacity: 0.6;
							width: 14px;
							vertical-align: bottom;
						}
					}
				}
			}

			.p-s__item-description {
				margin-top: 30px;
				color: $gray;
				width: 100%;
				line-height: 20px;
			}
			.p-s__item-links {
				margin-top: 30px;
				a {
					text-decoration: none;
				}
				img {
					width: 20px;
					margin-right: 10px;
					opacity: 0.6;
				}
			}
		}



	}

	.p-s__logos {
		max-width: 800px;
		margin: 0 auto;
		margin-top: 5vh;
		.p-s__logo {
			margin: 30px;
			text-align: center;
			background: $light_blue;
			padding: 30px 0;
			color: $gray;
		}
	}

}

section#get-section {
	margin: 0 45px;
	.section-title__h2 {
		text-align: left;
		margin-left: 30px;
	}

	.g-s__content {
		.g-s__form {
			margin-top: 5vh;
			.ct-flex-2, .ct-flex-1 {
				padding: 0 15px;
				margin-top: 30px;
			}

			button {
				margin-left: 15px;
				margin-top: 30px;
			}

		}
		.g-s__info {
			margin-top: 9vh;
			padding-left: 60px;
			p {
				&:first-child  {
					margin-bottom: 15px;
				}
				&:nth-child(2) {
					color: $gray;
					line-height: 22px;
					margin-bottom: 30px;
				}
				&:nth-child(3) {

					margin-bottom: 45px;

					a {
						display: block;
						color: $yellow;
						margin-bottom: 20px;
					}
				} 
				
			}
			.g-s__info-links {
				margin-top: 30px;
				a {
					display: inline-block;
					border-radius: 100%;
					background: linear-gradient(45deg, $yellow, $orange, $middle_blue);
					width: 40px;
					height: 40px;
					margin-right: 15px;
					img {
						width: 40px;
						padding: 10px;
					}
				}
			}
		}
	}
	.g-s__shape-1 {
		width: 40px;
		height: 40px;
		background-image:url("../img/shape_1.png");
	    background-repeat: no-repeat;
	    background-size: cover;
	    background-position: center center; 
	    position: absolute;
	    right: 20vw;
	    top: 6vh;
	}
	.g-s__shape-2 {
		width: 400px;
		height: 104px;
		background-image:url("../img/shape_2.png");
	    background-repeat: no-repeat;
	    background-size: cover;
	    background-position: center center; 
	    position: absolute;
	    right: -45px;
	    bottom: 0;
	}
	.g-s__shape-3 {
		width: 150px;
		height: 187px;
		background-image:url("../img/shape_3.png");
	    background-repeat: no-repeat;
	    background-size: cover;
	    background-position: center center; 
	    position: absolute;
	    right: -45px;
	    bottom: 40vh;
	}
}

section#contact-section {
	margin: 0 45px;
	
	.c-s__content {
		z-index: 2;
		position: relative;
		padding-top: 10vh;
		line-height: 24px;
		.c-s__item {
			margin: 0 15px;
		}

		h3 {
			color: $yellow;
			font-size: 24px;
			text-transform: uppercase;
			margin-bottom: 30px;
			margin-top: 10vh;
		}
		.c-s__contacts {
			a, span {
				display: block;
				margin-bottom: 10px;
				color: #fff;
				img {
					margin-right: 5px;
					width: 15px;
					vertical-align: middle;
				}
			}
		}
		.c-s__socials {
			a {
				display: inline-block;
				margin-right: 10px;
				border: 1px solid $yellow;
				border-radius: 100%;
				width: 40px;
				height: 40px;
				img {
					padding: 10px;
					width: 38px;
					height: 38px;
				}
			}
		}

		.c-s__form {
			.ct-flex-1 {
				margin-bottom: 30px;
			}
		}

	}

	.c-s__copyright {
		margin-top: 15vh;
		margin-left: 15vw;
		padding-bottom: 30px;
		color: $gray;
	}

	.c-s__overlay {
		background-image:url("../img/hexagone.png");
    	background-repeat: no-repeat;
	    background-size: 130%;
	    background-position: 50% 90%; 
	    opacity: 0.2;
	}

	.c-s__shape-1 {
		width: 158px;
		height: 141px;
		background-image:url("../img/shape_4.png");
	    background-repeat: no-repeat;
	    background-size: cover;
	    background-position: center center; 
	    position: absolute;
	    left: -45px;
	    bottom: 0;
	}

}


#modal-request {


	.popup__body {
		margin-top: 20vh;
	}

	.body-popup__text {
		text-align: center;
		color: $black;
		img {
			margin-top: 30px;
		}
		h4 {
			margin-top: 30px;
			font-family: 'Lexend Giga', sans-serif;
			text-transform: uppercase;
			font-size: 24px;
		}
		p {
			margin-top: 30px;
			margin-bottom: 60px;
		}
	}

}

#modal-steps {
	color: $black;
	text-align: center;
	.popup__body {
		padding: 0;
		max-width: 800px;
	}
	.body-popup__header {
		background: #F6F6F6;
		padding: 30px 50px;
		text-align: center;
		color: #8D8D8D;
		font-size: 14px;
		text-transform: uppercase;
		.modal-steps__step {
			position: relative;
			text-align: left;
			height: 30px;
			margin-top: 10px;
			span {
				display: inline-block;
				margin-right: 10px;
				background: #CECECE;
				border-radius: 100%;
				padding: 5px;
				text-align: center;
				min-width: 28px;
			}
			&:before {
				content: "";
				background: #CECECE;
				height: 3px;
				width: 80%;
				top: -10px;
				position: absolute;
			}
			&.active {
				color: $black;
				span {
					color: #fff;
					@include gradient;
				}
				&:before {
					@include gradient;
				}
				
			}
		}
		.body-popup__close {
			padding-top: 25px;
			padding-right: 25px;
		}
	}
	.body-popup__text {
		padding: 25px;
		text-align: center;
		h4 {
			margin: 0 auto;
			margin-top: 30px;
			font-family: 'Lexend Giga', sans-serif;
			text-transform: uppercase;
			font-size: 24px;
			max-width: 600px;
		}
		.modal-steps__options {
			margin-top: 30px;
			button {
				text-transform: uppercase;
				border: 2px solid #CECECE;
				width: calc(100% - 30px);
				padding: 10px;
				margin: 0 15px;
				&.active {
					background: $yellow;
					border-color: $black;
				}
			}
			[data-step="2"] {
				button {
					text-align: left;
					span {
						display: inline-block;
						border: solid 2px #CECECE;
						width: 20px;
						height: 20px;
						vertical-align: bottom;
						margin-right: 10px;
						
					}
					&.active {
						span{
							border-color: $black;
							position: relative;
							&:after {
								content: '✓';
								position: absolute;
								left: 2px;
								bottom: 0;
							}
						}
					}

				}
			}
			.modal-steps__options-textarea {
				
				textarea {
					border:  solid 2px #CECECE;
					text-align: left;
					width: 100%;
					padding: 15px 10px;
				}
			}
		}

		.modal-steps__buttons {
			margin: 60px 0;
			button {
				cursor: pointer;
				padding: 10px;
				width: 200px;
				color: #8D8D8D;
				&.active {
					color: #fff;
					@include gradient;
				}
			}
		}

	}
}

@import  "_responsive";